.advertising {
    position: relative;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: block;
            position: relative;
        }
    }
}